/* mixin */
.inputarea {
  width: 100%;
  margin-right: 20px;
  margin-bottom: 20px;
}

.inputarea .label {
  display: block;
  margin-bottom: 5px;
}

.inputarea__select {
  position: relative;
  height: 35px;
  border: 1px solid #E9E9EB;
  border-radius: 4px;
}

.inputarea__select:after {
  position: absolute;
  font-family: 'iconfont';
  content: '\e904';
  right: 10px;
  top: 2px;
  font-size: 20px;
  color: #9797A7;
}

.inputarea__select select {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  background: none;
  color: #9797A7;
}

.inputarea__text input {
  color: #9797A7;
  font-size: 15px;
}

.w200 {
  display: inline-block;
  width: 200px;
}

.w400 {
  width: 400px;
}

input[type="text"],
input[type="number"],
input[type="password"] {
  display: inline-block;
  height: 35px;
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 4px;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #E9E9EB;
}

.form__title {
  font-size: 16px;
  color: #ABABAB;
  font-weight: 600;
}

.form__input {
  display: block;
  margin-top: 8px;
}

.form ul li {
  margin-bottom: 20px;
}

.btnarea {
  clear: both;
  width: 100%;
  margin-top: 20px;
}

.btnarea a[class^="btn"] {
  display: inline-block;
  min-width: 80px;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  border-radius: 4px;
  text-align: center;
}

.btnarea a[class^="btn"] + a[class^="btn"] {
  margin-left: 10px;
}

.btnarea .btn__search {
  background: #3265F1;
  color: #ffffff;
}

.btnarea .btn__search:before {
  font-family: 'iconfont';
  content: '\e90e';
  padding-right: 10px;
  font-size: 12px;
}

.btnarea .btn__search:hover {
  background: #2956CF;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btnarea .btn__small {
  background: #C4C4D1;
  color: #ffffff;
  font-weight: 400;
}

.btnarea .btn__small:hover {
  background: #AFAFC1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btnarea .btn__primary {
  background: #3265F1;
  color: #ffffff;
  font-weight: 500;
}

.btnarea .btn__text {
  background: none;
  color: #C4C4D1;
  font-weight: 500;
}

.pagenation {
  position: absolute;
  bottom: 10px;
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.pagenation ul {
  display: inline-block;
}

.pagenation ul li {
  float: left;
  margin: 0 3px;
}

.pagenation ul li a {
  display: block;
  color: #7B8297;
}

.pagenation ul li a.active {
  color: #2D2D2D;
  font-weight: bold;
}

.pagenation ul li a:hover {
  color: #2D2D2D;
  font-weight: bold;
}

.pagenation ul li a.first:after {
  font-family: 'iconfont';
  content: '\e902';
  font-size: 15px;
}

.pagenation ul li a.prev:after {
  font-family: 'iconfont';
  content: '\e905';
  font-size: 15px;
}

.pagenation ul li a.next:after {
  font-family: 'iconfont';
  content: '\e906';
  font-size: 15px;
}

.pagenation ul li a.end:after {
  font-family: 'iconfont';
  content: '\e908';
  font-size: 15px;
}

.btn__right {
  font-size: 13px;
  color: #3265F1;
  float: right;
  letter-spacing: -1px;
  text-decoration: underline;
}

.align__center {
  text-align: center;
}

.align__right {
  text-align: right;
}

.align__left {
  text-align: left;
}

.mt0 {
  margin-top: 0 !important;
}
/*# sourceMappingURL=common.css.map */