@import url(reset.css);
@import url(style.css);
/* mixin */
.login {
  width: 100vw;
  height: 100vh;
  background: url(../images/login_bg.png) center top no-repeat;
}

.login__area {
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 530px;
  height: 466px;
}

.login__bi {
  width: 100%;
  text-align: center;
}

.login__bi p {
  margin-top: 10px;
  color: #636371;
  opacity: 0.4;
}

.login__form {
  margin-top: 60px;
}

.login__form .box_login_ipt {
  position: relative;
  margin-bottom: 20px;
}

.login__form .box_login_ipt .i_label {
  position: absolute;
  left: 20px;
  top: 15px;
  font-size: 0;
}

.login__form .box_login_ipt .userid::before {
  font-family: 'iconfont';
  content: '\e911';
  font-size: 22px;
  color: #636371;
}

.login__form .box_login_ipt .userpw::before {
  font-family: 'iconfont';
  content: '\e910';
  font-size: 22px;
  color: #636371;
}

.login__form input {
  height: 60px;
  background: rgba(40, 42, 52, 0.7);
  border: none;
  color: #636371;
  padding-left: 50px;
}

.login__form input::-webkit-input-placeholder {
  color: #636371;
}

.login__form input:-ms-input-placeholder {
  color: #636371;
}

.login__form input::-ms-input-placeholder {
  color: #636371;
}

.login__form input::placeholder {
  color: #636371;
}

.login__form .btn_login {
  display: block;
  margin-top: 40px;
}

.login__form .btn_login input {
  display: block;
  padding: 0;
  width: 100%;
  height: 60px;
  background: #3265F1;
  color: #ffffff;
  font-size: 20px;
  border-radius: 4px;
}

.login .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 70px 0;
  text-align: center;
  border-top: 1px solid #24242D;
  color: rgba(99, 99, 113, 0.4);
  font-weight: 300;
}

/* color system */
body {
  width: 100vw;
  min-width: 1024px;
  height: 100vh;
  min-height: 768px;
  background: #F8F8FB;
}

#menu {
  overflow: hidden;
  background: #2F2C48;
  z-index: 999;
}

#menu h1 {
  width: 244px;
  height: 34px;
  line-height: 34px;
  margin-bottom: 45px;
}

#menu h1 a {
  overflow: hidden;
  display: block;
  width: 244px;
  height: 34px;
  font-family: 'iconfont';
  font-size: 25px;
  color: #ffffff;
}

#menu h1 img {
  float: left;
  margin-right: 23px;
}

#menu .menulist li {
  overflow: hidden;
  width: 244px;
  margin-bottom: 20px;
}

#menu .menulist li a {
  display: block;
  position: relative;
  color: #7B8297;
  font-size: 18px;
  font-weight: normal;
}

#menu .menulist li a span {
  display: inline-block;
  width: 20px;
  font-size: 18px;
  margin-right: 35px;
  padding: 0 5px;
}

#menu .menulist li a:hover {
  color: #15B0ED;
  font-weight: 600;
}

.narrow {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 100vh;
  padding: 45px 23px;
}

.wide {
  -webkit-box-shadow: 0px 0px 6px #777777;
  box-shadow: 0px 0px 6px #777777;
}

#container {
  width: calc(100vw - 80px);
  height: 100vh;
  min-width: 940px;
  margin-left: 80px;
}

#container .header {
  position: relative;
  width: 100%;
  height: 64px;
  padding: 20px 25px;
  background: #ffffff;
  text-align: right;
}

#container .header__title {
  float: left;
  color: #1B253A;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

#container .header__status {
  display: inline-block;
}

#container .header__status ul li {
  display: inline-block;
  font-size: 16px;
}

#container .header__status ul li + li {
  margin-left: 15px;
}

#container .header__status ul li span {
  display: inline-block;
  padding: 3px 10px;
  margin-right: 10px;
  border-radius: 20px;
  font-size: 13px;
}

#container .header__status ul li span.total {
  background: #1991EB;
  color: #ffffff;
  font-weight: 400;
}

#container .header__status ul li span.present {
  background: #2F2C48;
  color: #ffffff;
  font-weight: 400;
}

#container .header__status ul li span.absence {
  background: #6B6B6B;
  color: #ffffff;
  font-weight: 400;
}

#container .header__user {
  display: inline-block;
  margin-top: -8px;
  margin-left: 30px;
  height: 30px;
  line-height: 30px;
  text-align: left;
}

#container .header__user figure {
  display: inline-block;
  margin: 0 8px 0 0;
}

#container .header__user figure img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#container .header__user p {
  display: inline-block;
  font-weight: 400;
}

#container .header__user p span {
  font-weight: 600;
  color: #3265F1;
}

#container .header__user .logout {
  font-size: 0;
}

#container .header__user .logout:after {
  font-family: 'iconfont';
  content: '\e901';
  color: #B1B1B1;
  font-size: 17px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#container .header__user .logout:hover:after {
  font-family: 'iconfont';
  content: '\e901';
  color: #3265F1;
  font-size: 17px;
}

#container .contents {
  padding: 25px;
  height: calc(100vh - 64px);
}

#container .contents__box {
  width: 100%;
  height: 100%;
  padding: 15px;
  background: #ffffff;
  border-radius: 8px;
}

.search__box {
  margin-bottom: 15px;
}

.search__box .search__input {
  padding: 15px;
}

.search__box .search__input .label {
  color: #C4C4D1;
}

div[class$="__box"] {
  width: 100%;
  padding: 15px 0;
  background: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 4px #D9D9DB;
  box-shadow: 0px 2px 4px #D9D9DB;
}

div[class$="__box"] h3 {
  color: #B1B1B1;
  padding: 0 15px 15px 15px;
  border-bottom: 1px solid #F0F0F0;
  font-weight: 600;
  font-size: 15px;
}

.content__box {
  position: relative;
  padding: 15px !important;
}

.content__box .list th, .content__box .list td {
  padding: 8px;
  text-align: left;
}

.content__box .list tr:nth-child(2n) td {
  background: #F8F8FB;
}

.content__box .list th {
  color: #ABABAB;
  border-bottom: 1px solid #F0F0F0;
  font-weight: 500;
}

.content__box .list th.num {
  width: 50px;
}

.content__box .list td {
  color: #2D2D2D;
  font-weight: 400;
}

.content__box .list td.center {
  text-align: center;
}

.content__box .list td figure {
  margin: 0;
  text-align: left;
}

.content__box .list td figure img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.content__box .list td a[class^="modal__"] {
  display: inline-block;
  min-width: 60px;
  padding: 5px 8px;
  text-align: center;
  font-size: 13px;
  border-radius: 4px;
}

.content__box .list td a[class^="modal__"] + a[class^="modal__"] {
  margin-left: 8px;
}

.content__box .list td .modal__edit {
  border: 1px solid #E9E9EB;
  color: #C4C4D1;
}

.content__box .list td .modal__mapping {
  background: #3265F1;
  color: #ffffff;
}

.content__box .list td.recognition figure ~ figure {
  margin-left: -12px;
}

.content__box .list td.recognition figure {
  float: left;
}

.content__box .list td.recognition img {
  border: 3px solid #ffffff;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background: rgba(33, 37, 45, 0.57);
}

.modal .popup {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 800px;
  height: 600px;
  background: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 0px 3px 5px #474747;
  box-shadow: 0px 3px 5px #474747;
}

.modal .popup__title {
  position: relative;
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #F0F0F0;
}

.modal .popup__title h3 {
  color: #B1B1B1;
  font-weight: 700;
  font-size: 15px;
}

.modal .popup__title .popup--close {
  position: absolute;
  right: 15px;
  top: 17px;
}

.modal .popup__title .popup--close i {
  color: #9797A7;
}

.modal .popup__content {
  height: 490px;
  overflow-y: auto;
  padding: 15px;
  margin-bottom: 10px;
}

.modal .popup__content ul {
  width: 47%;
  float: left;
}

.modal .popup__content ul li .inputarea {
  height: 59px;
}

.modal .popup__content ul li .inputarea .label {
  color: #7B8297;
  font-weight: 500;
}

.modal .popup__content ul li .inputarea input {
  font-size: 15px;
}

.modal .popup__content ul li .inputarea input[disabled] {
  background: #E9E9EB;
}

.modal .popup__content ul + ul {
  margin-left: 6%;
}

.modal .popup__content .inputarea__radio label {
  color: #7B8297;
  margin-right: 10px;
  font-weight: 400;
}

.modal .popup__content .inputarea__radio input[type="radio"] {
  margin-right: 4px;
}

.modal .popup__content .inputarea__checkbox label {
  color: #7B8297;
  margin-right: 10px;
  font-weight: 400;
}

.modal .popup__content .inputarea__checkbox input[type="checkbox"] {
  margin-right: 4px;
}

.modal .popup__content .search__input {
  width: 100%;
  padding: 10px;
  min-height: 100px;
  margin-bottom: 15px;
  border-radius: 8px;
  background: #F5F6FA;
}

.modal .popup__content .search__input .label {
  color: #C4C4D1;
}

.modal .popup__content .search__input select {
  background: #ffffff;
}

.modal .popup__content .search__input .inputarea__calendar {
  position: relative;
  width: 120px;
  height: 35px;
  float: left;
}

.modal .popup__content .search__input .inputarea__calendar input {
  font-size: 14px;
  color: #7B8297;
}

.modal .popup__content .search__input .inputarea__calendar .btn_cal {
  display: inlnie-block;
  text-indent: -999em;
}

.modal .popup__content .search__input .inputarea__calendar .btn_cal:after {
  position: absolute;
  right: 10px;
  top: 5px;
  font-family: 'iconfont';
  content: '\e900';
  text-indent: 0;
  color: #c4c4d1;
  font-size: 16px;
}

.modal .popup__content .search__input .from {
  float: left;
  margin: 0 4px;
  line-height: 35px;
  color: #ABABAB;
}

.modal .popup__content .list {
  margin-top: 10px;
}

.modal .popup__content .list th, .modal .popup__content .list td {
  padding: 8px;
  text-align: left;
}

.modal .popup__content .list tr:nth-child(2n) td {
  background: #F8F8FB;
}

.modal .popup__content .list th {
  color: #ABABAB;
  border-bottom: 1px solid #F0F0F0;
  font-weight: 500;
}

.modal .popup__content .list th.num {
  width: 50px;
}

.modal .popup__content .list td {
  color: #2D2D2D;
  font-weight: 400;
}

.modal .popup__content .list td.center {
  text-align: center;
}

.modal .popup__content .list td figure {
  margin: 0;
  text-align: left;
}

.modal .popup__content .list td figure img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.modal .popup__content .list td a[class^="modal__"] {
  display: inline-block;
  min-width: 60px;
  padding: 5px 8px;
  text-align: center;
  font-size: 13px;
  border-radius: 4px;
}

.modal .popup__content .list td a[class^="modal__"] + a[class^="modal__"] {
  margin-left: 8px;
}

.modal .popup__content .list td .modal__edit {
  border: 1px solid #E9E9EB;
  color: #C4C4D1;
}

.modal .popup__content .list td .modal__mapping {
  background: #3265F1;
  color: #ffffff;
}

.modal .popup__content .list td.recognition figure ~ figure {
  margin-left: -12px;
}

.modal .popup__content .list td.recognition figure {
  float: left;
}

.modal .popup__content .list td.recognition img {
  border: 3px solid #ffffff;
}

.modal .popup .btnarea {
  padding: 0 15px;
  margin-top: 0 !important;
}

.dashboard__teams {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 982px;
  height: 747px;
}

.dashboard__teams ul li {
  position: relative;
  float: left;
  width: 318px;
  height: 368px;
  padding-top: 30px;
}

.dashboard__teams ul li dl {
  width: 80%;
  margin: 0 auto;
}

.dashboard__teams ul li dl dt {
  display: inline-block;
  width: 30%;
  color: #C4C4D1;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  border-bottom: 1px dotted #E9E9EB;
}

.dashboard__teams ul li dl dt:after {
  content: '';
  display: block;
  clear: both;
}

.dashboard__teams ul li dl dd {
  display: inline-block;
  width: 65%;
  text-align: right;
  font-weight: 700;
  font-size: 22px;
  line-height: 50px;
  border-bottom: 1px dotted #E9E9EB;
}

.dashboard__teams ul li dl dd:after {
  content: '';
  display: block;
  clear: both;
}

.dashboard__teams ul li dl .bordernone {
  border-bottom: none;
}

.dashboard__teams ul li .teamname {
  display: block;
  position: absolute;
  bottom: 45px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: #AFAFC1;
  font-size: 18px;
}

.dashboard__teams .team01 {
  background: url(../images/bg01.png) center top no-repeat;
}

.dashboard__teams .team02 {
  background: url(../images/bg02.png) center top no-repeat;
}

.dashboard__teams .team03 {
  background: url(../images/bg03.png) center top no-repeat;
}

.dashboard__teams .team04 {
  background: url(../images/bg04.png) center top no-repeat;
}

.dashboard__teams .team05 {
  background: url(../images/bg05.png) center top no-repeat;
}
/*# sourceMappingURL=layout.css.map */