@charset 'UTF-8';
$pageTitleColor: #1B253A;
$menuAreaBg: #2F2C48;
$menuNormal: #7B8297;
$menuHover:#15B0ED;
$h3Title:#B1B1B1;
$h3Border:#F0F0F0;
$inputBorder:#E9E9EB;
$inputText:#9797A7;
$label:#ABABAB;
$tableHeader: #ABABAB;
$tableThBorder: #F0F0F0;
$buttonPrimary: #3265F1;
$buttonHover: #2956CF;
$primaryColor:#C4C4D1;
$primaryHover:#AFAFC1;


/* mixin */
@mixin boxShadow {
  -moz-box-shadow:0px 2px 4px #D9D9DB;
  -webkit-box-shadow:0px 2px 4px #D9D9DB;
  box-shadow:0px 2px 4px #D9D9DB;
}
@mixin boxSizing {
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-sizing:border-box;
  box-sizing:border-box;
}
@mixin boxRound4 {
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}
@mixin boxRound8 {
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
}
@mixin transition {
  transition:all 0.3s ease-in-out 0.1s;  // 0.1초후에 보여진후 0.3초동안 완료
}
@mixin transition1 {
  transition:all 0.3s ease-in-out; 
}
.inputarea {
  width: 100%;
  margin-right: 20px;
  margin-bottom: 20px;
  .label {
    display:block;
    margin-bottom: 5px;        
  }  
  &__select {
    position: relative;
    height: 35px;    
    border:1px solid $inputBorder;
    @include boxRound4();
    &:after {
      position:absolute;
      font-family: 'iconfont';
      content:'\e904';            
      right:10px;
      top:2px;
      font-size:20px;
      color: $inputText;
    }
    select {
      width: 100%;
      height: 100%;
      padding-left: 10px;
      background: none;
      color: $inputText;
    }
  }
  &__text {
    input{
      color: $inputText;
      font-size: 15px;
    }    
  }
}

.w200 {
  display: inline-block;
  width: 200px;    
}
.w400 {
  width: 400px;
}

// 인풋 스타일
input[type="text"],
input[type="number"],
input[type="password"] {
  display: inline-block;
  height: 35px;  
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;  
  @include boxRound4();
  @include boxSizing();    
  border: 1px solid $inputBorder;
}

.form {
  &__title {
    font-size: 16px;
    color: $label;
    font-weight: 600;
  }
  &__input {
    display:block;
    margin-top: 8px;
  }
  ul li {
    margin-bottom: 20px;
  }
}



.btnarea {
  clear:both;
  width: 100%;
  margin-top: 20px;
  a[class^="btn"] {
    display: inline-block;
    min-width: 80px;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    @include boxRound4();
    text-align: center;
  }
  a[class^="btn"] + a[class^="btn"] {
    margin-left: 10px;
  }
  .btn {    
    &__search {
      background:$buttonPrimary;
      color: #ffffff;
      &:before {
        font-family: 'iconfont';
        content: '\e90e';
        padding-right: 10px;
        font-size: 12px;
      }
      &:hover {
        background: $buttonHover;
        @include transition1();
      }
    }
    &__small {
      background:$primaryColor;
      color: #ffffff;
      font-weight: 400;
      &:hover {
        background: $primaryHover;
        @include transition1();
      }
    }
    &__primary {
      background:$buttonPrimary;
      color: #ffffff;
      font-weight: 500;
    }
    &__text {
      background:none;
      color: $primaryColor;
      font-weight: 500;
    }
  }
}
.btn__right {
  font-size: 13px;
  color: $buttonPrimary;
  float: right;
  letter-spacing: -1px;
  text-decoration: underline;
}
.align__center {
  text-align: center;
}
.align__right {
  text-align: right;
}
.align__left {
  text-align: left;
}

.mt0 {
  margin-top: 0 !important;
}
 