@charset 'UTF-8';
@import url(reset.css);
@import url(style.css);
$pageTitleColor: #1B253A;
$menuAreaBg: #2F2C48;
$menuNormal: #7B8297;
$menuHover:#15B0ED;
$h3Title:#B1B1B1;
$h3Border:#F0F0F0;
$inputBorder:#E9E9EB;
$inputText:#9797A7;
$label:#ABABAB;
$tableHeader: #ABABAB;
$tableThBorder: #F0F0F0;
$tableBg:#F8F8FB;
$buttonPrimary: #3265F1;
$buttonHover: #2956CF;
$primaryColor:#C4C4D1;
$primaryHover:#AFAFC1;


/* mixin */
@mixin boxShadow {
  -moz-box-shadow:0px 2px 4px #D9D9DB;
  -webkit-box-shadow:0px 2px 4px #D9D9DB;
  box-shadow:0px 2px 4px #D9D9DB;
}
@mixin boxSizing {
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-sizing:border-box;
  box-sizing:border-box;
}
@mixin boxRound4 {
  -webkit-border-radius:4px;
  -moz-border-radius:4px; 
  border-radius:4px;
}
@mixin boxRound8 {
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
}
@mixin transition {
  transition:all 0.3s ease-in-out 0.1s;  // 0.1초후에 보여진후 0.3초동안 완료
}
@mixin transition1 {
  transition:all 0.3s ease-in-out; 
}
@mixin transition2 {
  transition:all 0.1s ease-in-out 0.1s; 
}


.login {  
  width: 100vw;
  height: 100vh;
  background: url(../images/login_bg.png) center top no-repeat;
  &__area {
    position:absolute;
    left:50%;
    top:40%;
    transform:translate(-50%, -50%);
    width: 530px;
    height: 466px;
  }
  &__bi {
    width: 100%;
    text-align: center;
    p {
      margin-top: 10px;
      color: #636371;    
      opacity: 0.4;
    }
  }
  &__form {
    margin-top: 60px;        
    .box_login_ipt {
      position: relative;
      margin-bottom: 20px;      
      .i_label {
        position: absolute;
        left: 20px;
        top: 15px;
        font-size: 0;       
      }
      .userid::before {        
        font-family: 'iconfont';
        content: '\e911';
        font-size: 22px;
        color: #636371;
      }

      .userpw::before {        
        font-family: 'iconfont';
        content: '\e910';
        font-size: 22px;
        color: #636371;
      }
  
      
    }
    input {
      height: 60px;
      background:rgba(40, 42, 52, 0.7);
      border:none;
      color: #636371;
      padding-left: 50px;
      &::placeholder {
        color: #636371;
      }
    }
    .btn_login {
      display: block;
      margin-top: 40px;
      input {
        display:block;
        padding: 0;
        width: 100%;
        height: 60px;
        background: #3265F1;
        color: #ffffff;
        font-size: 20px;        
        @include boxRound4();
      }
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 70px 0;
    text-align: center;
    border-top: 1px solid #24242D;
    color: rgba($color: #636371, $alpha: 0.4);
    font-weight: 300;
  }
}


/* color system */
body {
  width: 100vw;
  min-width: 1024px;
  height: 100vh;
  min-height: 768px;
  background:#F8F8FB;  
}

#menu {
  overflow: hidden;
  background: $menuAreaBg;
  z-index:50;
  h1 {
    width: 244px;
    height: 34px;
    line-height: 34px;
    padding: 45px 23px 23px 23px;
    margin-bottom: 45px;
    a {
      overflow: hidden;
      display: block;
      width: 244px;
      height: 34px;      
      font-family: 'iconfont';
      font-size: 25px;
      color:#ffffff;
    }
    img {
      float:left;
      margin-right: 23px;      
    }
  }
  .menulist li {    
    overflow: hidden;
    width: 244px;
    margin-bottom: 20px;    
    a {
      display: block;
      padding-left: 23px;
      color:$menuNormal;
      font-size: 18px;
      font-weight: normal;
      span {
        display: inline-block;
        width: 20px;
        font-size: 18px;
        margin-right: 35px;
        padding: 0 5px;
      }
      &:hover {
        color: $menuHover;
        font-weight: 600;        
        border-left: 3px solid $menuHover;
        @include transition2();
      }
      &.on {
        padding-left: 20px;
        color: $menuHover;
        font-weight: 700;
        border-left: 3px solid $menuHover;
      }
      &.on:before {        
        content: '';
        width: 3px;
        height: 30px;
        background: $menuHover;
      }
    }   
  }  
}
.narrow {
  position: absolute;
  left: 0;
  top:0;
  width: 80px;
  height: 100vh;      
}
.wide {
  -moz-box-shadow:0px 0px 6px #777777;
  -webkit-box-shadow:0px 0px 6px #777777;
  box-shadow:0px 0px 6px #777777;  
}

#container {
  width: calc(100vw - 80px);
  height: 100vh;
  min-width: 940px;
  margin-left: 80px;
  .header {
    position: relative;
    width: 100%;
    height: 64px;
    padding: 20px 25px;
    background:#ffffff;
    text-align: right;
    &__title {
      float: left;
      color: $pageTitleColor;
      font-weight: 700;
      font-size: 18px;
      text-transform: uppercase;
    }
    &__status {
      display:inline-block;
      ul li {
        display:inline-block;
        font-size: 16px;
        &+ li {
          margin-left: 15px
        }
        span {
          display:inline-block;
          padding: 3px 10px;
          margin-right: 10px;
          border-radius: 20px;
          font-size: 13px;
          &.total {
            background:#1991EB;
            color: #ffffff;
            font-weight: 400;
          }
          &.present {
            background:#2F2C48;
            color: #ffffff;
            font-weight: 400;
          }
          &.absence {
            background:#6B6B6B;
            color: #ffffff;
            font-weight: 400;
          }
        }
      }
    }
    &__user {      
      display:inline-block;
      margin-top: -8px;
      margin-left: 30px;
      height: 30px;
      line-height: 30px;
      text-align: left;
      figure {
        display: inline-block;
        margin: 0 8px 0 0;        
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
      }
      p {
        display:inline-block;
        font-weight: 400;
        span {          
          font-weight:600;
          color: $buttonPrimary;
        }
      }
      .logout {
        font-size: 0;
        &:after {
          font-family:'iconfont';
          content: '\e901';
          color: $h3Title;
          font-size: 17px;
          @include transition1();
        }
        &:hover {
          &:after {
            font-family:'iconfont';
            content: '\e901';
            color: $buttonPrimary;
            font-size: 17px;
          }
        }
      }
    }
  }
  .contents {    
    padding: 25px;
    height: calc(100vh - 64px);
    &__box {
      width: 100%;
      height: 100%;
      padding: 15px;
      background: #ffffff;
      @include boxRound8();
    }
  }
}
.search__box {
  margin-bottom: 15px;
  .search__input {
    padding: 15px;
    .label {
      color: #C4C4D1;
    }
  }
}


div[class$="__box"] {
  width: 100%;
  padding: 15px 0;
  background: #ffffff;
  @include boxRound8();
  @include boxShadow();
  h3 {
    color:$h3Title;
    padding: 0 15px 15px 15px;
    border-bottom: 1px solid $h3Border;
    font-weight: 600;
    font-size: 15px;
  }
}

.content__box {
  position: relative;
  padding: 15px !important;
  .list { // 리스트 테이블 관련    
    th, td {
      padding: 8px;
      text-align: left;
    }
    tr:nth-child(2n) td {
      background: $tableBg;
    }
    th {
      color: $tableHeader;
      border-bottom: 1px solid $tableThBorder;
      font-weight: 500;
      &.num {
        width: 50px;
      }
    }
    td {
      color: #2D2D2D;
      font-weight: 400;
      &.center {
        text-align: center;
      }
      figure {
        margin: 0;
        text-align: left;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }
      a[class^="modal__"] {
        display:inline-block;
        min-width: 60px;
        padding: 5px 8px;
        text-align: center;
        font-size: 13px;
        @include boxRound4();
      }
      a[class^="modal__"] + a[class^="modal__"] {
        margin-left: 8px;
      }
      .modal {
        &__edit {
          border: 1px solid $inputBorder;
          color: #C4C4D1;
        }
        &__mapping {
          background: $buttonPrimary;
          color: #ffffff;
        }
      }
      &.recognition {
        figure ~ figure {
          margin-left: -12px;
        }
        figure {
          float: left;
        }        
        img {
          border:3px solid #ffffff;          
        }
      }
    }
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: rgba($color: #21252D, $alpha: 0.57);
  .popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    width: 800px;
    height: 600px;
    background: #ffffff;
    @include boxRound8();
    -moz-box-shadow:0px 3px 5px #474747;
    -webkit-box-shadow:0px 3px 5px #474747;
    box-shadow:0px 3px 5px #474747;
    &__title {
      position: relative;
      width: 100%;
      padding: 15px;
      border-bottom: 1px solid $h3Border;
      h3 {
        color: $h3Title;
        font-weight: 700;
        font-size: 15px;
      }
      .popup--close {
        position: absolute;
        right: 15px;
        top: 17px;
        i {
          color: #9797A7;
        }
      }
    }
    &__content {
      height: 490px;
      overflow-y: auto;
      padding: 15px;
      margin-bottom: 10px;
      ul {
        width: 47%;
        float:left;
        li {
          .inputarea {
            height: 59px;
          }
          .inputarea .label {
            color: $menuNormal;
            font-weight: 500;
          }
          .inputarea input {
            font-size: 15px;
          }
          .inputarea input[disabled] {
            background: $inputBorder;
          }
        }        
      }
      ul + ul {
        margin-left: 6%;
      }
      .inputarea {
        &__radio {
          label {
            color: $menuNormal;
            margin-right: 10px;
            font-weight: 400;
          }
          input[type="radio"] {
            margin-right: 4px;
          }
        }
        &__checkbox {
          label {
            color: $menuNormal;
            margin-right: 10px;            
            font-weight: 400;
          }
          input[type="checkbox"] {
            margin-right: 4px;            
          }
        }
      }
      .search__input {
        width: 100%;
        padding: 10px;
        min-height: 100px;
        margin-bottom: 15px;
        @include boxRound8();
        background: #F5F6FA;
        .label {
          color: #C4C4D1;
        }
        select {
          background: #ffffff;
        }
        .inputarea__calendar {
          position: relative;
          width: 120px;
          height: 35px;
          float:left;
          input {
            font-size: 14px;
            color: $menuNormal;
          }
          .btn_cal {
            display: inlnie-block;            
            text-indent:-999em;            
            &:after {
              position: absolute;
              right: 10px;
              top: 5px;
              font-family: 'iconfont';
              content: '\e900';
              text-indent: 0;
              color: #c4c4d1;
              font-size: 16px;
            }
            
          }
        }
        .from {
          float:left;
          margin: 0 4px;
          line-height: 35px;
          color: $label;
        }
      }
      .list { // 리스트 테이블 관련
        margin-top: 10px;
        th, td {
          padding: 8px;
          text-align: left;
        }
        tr:nth-child(2n) td {
          background: $tableBg;
        }
        th {
          color: $tableHeader;
          border-bottom: 1px solid $tableThBorder;
          font-weight: 500;
          &.num {
            width: 50px;
          }
        }
        td {
          color: #2D2D2D;
          font-weight: 400;
          &.center {
            text-align: center;
          }
          figure {
            margin: 0;
            text-align: left;
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
            }
          }
          a[class^="modal__"] {
            display:inline-block;
            min-width: 60px;
            padding: 5px 8px;
            text-align: center;
            font-size: 13px;
            @include boxRound4();
          }
          a[class^="modal__"] + a[class^="modal__"] {
            margin-left: 8px;
          }
          .modal {
            &__edit {
              border: 1px solid $inputBorder;
              color: #C4C4D1;
            }
            &__mapping {
              background: $buttonPrimary;
              color: #ffffff;
            }
          }
          &.recognition {
            figure ~ figure {
              margin-left: -12px;
            }
            figure {
              float: left;
            }        
            img {
              border:3px solid #ffffff;          
            }
          }
        }
      }
    }
    .btnarea {
      padding: 0 15px;
      margin-top: 0 !important;
    }
  }
}

// 대시보드
.dashboard {
  &__teams {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    width: 982px;
    height: 747px;
    ul li {
      position: relative;;
      float:left;
      width: 318px;
      height: 368px;
      padding-top:30px;      
      dl {
        width: 80%;
        margin: 0 auto;
        dt {
          display: inline-block;
          width: 30%;
          color: #C4C4D1;
          font-weight: 400;
          font-size: 20px;
          line-height: 50px;
          border-bottom: 1px dotted $inputBorder;
          &:after {
            content: '';
            display:block;                        
            clear:both;
          }
        }
        dd {
          display:inline-block;
          width: 65%;
          text-align: right;
          font-weight: 700;
          font-size: 22px;
          line-height: 50px;
          border-bottom: 1px dotted $inputBorder;
          &:after {
            content: '';
            display:block;                        
            clear:both;
          }
        }
        .bordernone {
          border-bottom:none;          
        }
      }
      .teamname {
        display: block;        
        position: absolute;        
        bottom: 45px;
        width: 100%;
        padding: 0 20px;
        text-align: center;
        color:#AFAFC1;
        font-size: 18px;
      }
    }
    .team01 {
      background: url(../images/bg01.png) center top no-repeat;
    }
    .team02 {
      background: url(../images/bg02.png) center top no-repeat;
    }
    .team03 {
      background: url(../images/bg03.png) center top no-repeat;
    }
    .team04 {
      background: url(../images/bg04.png) center top no-repeat;
    }
    .team05 {
      background: url(../images/bg05.png) center top no-repeat;
    }
  }
}
